<div class="border-bottom mb-4 pb-4">
    <h5 class="font-weight-semi-bold mb-4">Filter by {{ filter_type|capfirst }}</h5>
    <form action="{% url 'shop_app:shop' %}" method="get">
        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
            <input type="radio" class="custom-control-input" id="{{ filter_type }}-all" name="{{ filter_type }}" value="{{ filter_type }}-all" {% if not selected_filter or selected_filter == '{{ filter_type }}-all' %}checked{% endif %}>
            <label class="custom-control-label" for="{{ filter_type }}-all">All {{ filter_type|title }}s</label>
        </div>
        {% for value in available_values %}
            <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                <input type="radio" class="custom-control-input" id="{{ value }}" name="{{ filter_type }}" value="{{ value }}" {% if selected_filter == value %}checked{% endif %}>
                <label class="custom-control-label" for="{{ value }}">{{ value }}</label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>
</div>
