<div class="border-bottom mb-4 pb-4">
    <h5 class="font-weight-semi-bold mb-4">Filter by {{ filter_type|capfirst }}</h5>
    <form action="{% url 'shop_app:shop' %}" method="get">
        <div class="form-group">
            <select class="form-select" name="{{ filter_type }}">
                <option value="{{ filter_type }}-all" {% if not selected_filter or selected_filter == '{{ filter_type }}-all' %}selected{% endif %}>All {{ filter_type|title }}s</option>
                {% for value in available_values %}
                    <option value="{{ value }}" {% if selected_filter == value %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>
</div>
