{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include 'base/dashboard_sidebar.html' %}
        <main class="col-md-8">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as:</strong>
                <span>{{ user.full_name }}</span>
            </header>

            <div class="container">
                <div class="box">
                    <div class="box-row">
                        <div class="box-cell box1">

                            <h5 class="card-title">Total Orders</h5>
                            <h4>{{ orders_count }}</h4>
                            <a href="{% url 'accounts:my_orders' %}">View Orders</a>

                        </div>
                        <div class="box-cell box2">
                            <div class="mb-3">
                            {% if userprofile.profile_picture %}
                                <img src="{{userprofile.profile_picture.url}}" alt="Profile Picture" width="100" style="border-radius:50%;">
                            {% else %}
                                <img src="{% static '/img/no-image-user.jpeg' %}" alt="Profile Picture" width="60" height="50" style="border-radius:50%;">
                            {% endif %}
                            </div>
                            <p class="mb-0">{{user.email}}</p>
                            <p>{{user.phone_number}}</p>
                        </div>
                    </div>
                </div>
            </div>

            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>


    </section>

{% endblock %}
