{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form action="{% url 'accounts:register' %}" method="POST">

            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username">Username</label>
                  {{ form.username }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  {{ form.email }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  {{ form.password }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  {{ form.confirm_password }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                <label for="first_name">First Name</label>
                {{ form.first_name }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                <label for="last_name">Last Name</label>
                {{ form.last_name }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone_number">Phone number</label>
              {{ form.phone_number }}
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <button type="submit" class="btn btn-primary">Register</button>
              {{ form.captcha }}
            </div>
            <p class="text-center mt-2">Have an account? <a href="{% url 'accounts:login' %}">Login</a></p>
            {{ form.errors }}
            {{ form.non_field_errors }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
