{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- Shop Start -->
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">

            {% include 'base/sidebar.html' %}

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    {% include 'base/filter_dropdown.html' %}
                    {% for product in products %}
                        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <a href="{{ product.get_url }}">
                                        <div class="image-crop-center">
                                            <img class="img-fluid w-100" src="{{ product.images.url }}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h5 class="text-truncate mb-3">{{ product.product_name }}</h5>

                                    <h6 class="font-weight-semi-bold mb-4">
                                        ${{ product.discounted_price }}
                                        {% if product.discount_percentage or product.collection %}
                                        <span class="text-muted ml-2"><del>${{ product.price }}</del></span>
                                        {% endif %}
                                    </h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half {% endif %}" aria-hidden="true"></i>
                                             <span>{{product.count_review}} review{% if product.count_review != 1 %}s{% endif %}</span>

                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="{{ product.get_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <h4 class="text-muted">No products available for the selected filters.</h4>
                        </div>
                    {% endfor %}

                    {% include 'base/pagination.html' %}

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock content %}
