{% extends 'base/base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Password Reset Sent</div>
        <div class="card-body">
          <p>
            We've sent you an email containing instructions for resetting your password. If an account with the email address you provided exists, you should receive these instructions shortly.
          </p>
          <p>
            In case you don't receive our email, please double-check that you've entered the email address you registered with. Don't forget to also check your spam folder.
          </p>
          <div class="text-center mt-4">
            <a href="{% url 'shop_app:home' %}" class="btn btn-primary">Return to Home Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
