{% extends 'base/base.html' %}
{% load static %}

{% block content %}


    <!-- Page Header Start -->
    {% comment %} <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Page Header End -->



    {% if not cart_items %}
        <h2 class="text-center">Your Shopping Cart is Empty</h2>
        <br>
        <div class="text-center">
            <a href="{% url 'shop_app:shop' %}" class="btn btn-primary">Continue Shopping</a>
        </div>
    {% else %}


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Product Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>

                    {% for cart_item in cart_items %}
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle">
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>

                            <td class="align-middle">${{ cart_item.product.discounted_price }}</td>

                            <td class="align-middle">
                                <div class="button-container">
                                    <form action="{% url 'carts:remove_cart' product_id=cart_item.product.id cart_item_id=cart_item.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-primary btn-minus" id="button-minus">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </form>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center smaller-input" value="{{ cart_item.quantity }}" readonly>
                                    <form method="POST" action="{% url 'carts:add_to_cart' product_id=cart_item.product.id %}">
                                        {% csrf_token %}
                                        {% for item in cart_item.variations.all %}
                                            <input type="hidden" name="{{ item.variation_category }}" value="{{ item.variation_value }}">
                                        {% endfor %}
                                        <!-- Remove the individual form for the "Add to Cart" button -->
                                        <button type="submit" class="btn btn-sm btn-primary btn-plus" id="button-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>

                            <td class="align-middle">${{ cart_item.sub_total }}</td>

                            <td class="align-middle">
                                <form action="{% url 'carts:remove_cart_item' product_id=cart_item.product.id cart_item_id=cart_item.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-times fa-xs"></i></button>
                                </form>
                            </td>

                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{ sum_wo_shipping|floatformat:2 }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">${{ shipping_cost|floatformat:2 }}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">${{ total_sum|floatformat:2 }}</h5>
                        </div>
                        <a href="{% url 'carts:checkout' %}">
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                        </a>
                        <a href="{% url 'shop_app:shop' %}">
                            <button class="btn btn-block btn-primary my-3 py-3">Continue Shopping</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    {% endif %}
{% endblock content %}
