{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
{% comment %} <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div> {% endcomment %}
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                <form action="{%  url 'orders:place_order' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">First Name</label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Last Name</label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Phone Number</label>
                            <input type="text" name="phone" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Address Line 1</label>
                            <input type="text" name="address_line_1" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Address Line 2</label>
                            <input type="text" name="address_line_2" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">City</label>
                            <input type="text" name="city" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">State</label>
                            <input type="text" name="state" class="form-control" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Country</label>
                            <input type="text" name="country" class="form-control" required>
                        </div>
                        </div>
                        <div class="form-row">
                            <label for="">Order Note</label>
                            <textarea name="order_note" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
            </div> <!-- card.// -->

        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>

                <table class="table table-bordered text-center mb-0">
                    <thead class="text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    {% for cart_item in cart_items %}
                    <tbody class="font-weight-medium">
                        <tr>
                            <td class="font-weight-medium">
                                {{ cart_item.product.product_name }}
                            </td>

                            <td class="font-weight-medium">${{ cart_item.product.discounted_price|floatformat:2 }}</td>

                            <td class="font-weight-medium">
                                <div class="button-container">
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center smaller-input" value="x{{ cart_item.quantity }}" readonly>
                                </div>
                            </td>

                            <td class="font-weight-medium text-dark">${{ cart_item.sub_total|floatformat:2 }}</td>

                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{ shipping_cost|floatformat:2 }}</h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">${{ total_sum|floatformat:2 }}</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal" required>
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck" disabled>
                            <label class="custom-control-label" for="directcheck">Direct Check (Disabled at the moment)</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer" disabled>
                            <label class="custom-control-label" for="banktransfer">Bank Transfer (Disabled at the moment)</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

{% endblock %}
